@charset 'utf-8'
@import 'vendor/reset'

$font-size = 16px
body
    background #f7f7f7
    color #333
    font-family 'Lato','Noto Sans TC','Helvetica','Arial','微軟正黑體',sans-serif;
    font-size $font-size
    letter-spacing: .05em
    line-height 1.25
.wrapper
    margin-left auto
    margin-right @margin-left
    max-width 1200px
    padding-left 10px
    padding-right @padding-left
    width 100%
.tab-group
    display flex
    justify-content space-between
    .tab-content
        flex 0 0 $fb = 49%
        max-width $fb
        width $fb
.picture-frame
    border 5px outset #ddd
.canvas-wrapper
    background #fff
    display block
    height auto
    width 100%
.element-group
    display block
    font-size 0
    margin 0 -5px
    a
    img
        display block
        width 100%
    .item
        border 2px solid #ddd
        border-radius 5px
        display inline-block
        margin 0 5px 10px
        overflow hidden
    .link
        background #fff
        padding 10px
        &:hover
            background-color #eee
        img
            width 50px
.btn-group
    display block
    font-size 0
    margin 20px -5px 0
    text-align center
    .item
        display inline-block
        font-size $font-size
        margin 0 5px 10px
        vertical-align middle
    .link
        display block
.btn
    background #00bfff
    border-radius 5px
    color #fff
    padding .5em 1em
    &:hover
        background-color darken(#00bfff, 10%)
