@charset 'utf-8'
@import 'vendor/reset'
@import 'include/variable'
@import 'include/icon'

body
    background #f7f7f7
    color $font-color
    font-family 'Lato','Noto Sans TC','Helvetica','Arial','微軟正黑體',sans-serif;
    font-size $font-size
    letter-spacing: .05em
    line-height 1.5
    padding 50px 0
.wrapper
    margin-left auto
    margin-right @margin-left
    max-width 1200px
    padding-left 10px
    padding-right @padding-left
    width 100%
.tab-group
    display flex
    justify-content space-between
    .tab-content
        flex 0 0 $fb = 49%
        max-width $fb
        width $fb
.picture-frame
    border 5px outset #ddd
    position relative
.canvas-wrapper
    background #fff
    display block
    height auto
    width 100%
.pin-editor
    background rgba(#ff0, .25)
    bottom 0
    cursor none
    left 0
    position absolute
    right 0
    top 0
.element-title
    border-bottom 1px solid #ddd
    font-size 20px
    margin-bottom 15px
    margin-top 30px
    padding-bottom 5px
    text-align center
    &:first-child
        margin-top 0
.element-group
    display block
    font-size 0
    margin 0 -5px
    a
    img
        display block
        width 100%
    .item
        border 2px solid #ddd
        border-radius 5px
        display inline-block
        margin 0 5px 10px
        overflow hidden
    .link
        background #fff
        padding 10px
        &:hover
            background-color #eee
        img
            height 50px
            object-fit: contain
            width @height

btnLinearGradient(degree, color)
    background-color color
    background-image linear-gradient(degree, rgba(lighten(color, 75%), .25) 0%, rgba(lighten(color, 75%), .5) 30%, rgba(lighten(color, 75%), 0) 60%, rgba(darken(color, 75%), .5) 100%)
    z-index contrast(color)['ratio'];
    if(contrast(color)['ratio'] > 2)
        color #fff
    else
        color #000

.btn-group
    display block
    font-size 0
    letter-spacing 0
    margin 20px 0 0
    text-align center
    .item
        display inline-block
        font-size 20px
        margin 0
        vertical-align middle
        &:first-child
            padding-left 10px
        &:last-child
            padding-right 10px
        .canvasEditor-group&
            btnLinearGradient(180deg, #666)
        .pinEditor-group&
            btnLinearGradient(180deg, #333)
    .link
        display block
        padding 10px 10px
        &:hover
            .canvasEditor-group&
                btnLinearGradient(0deg, #666)
            .pinEditor-group&
                btnLinearGradient(0deg, #333)
    .icon
        display block
        margin 0 auto
.btn
    background #00bfff
    border-radius 5px
    padding .5em 1em
    &:hover
        background-color darken(#00bfff, 10%)
.icons-group
    font-size 0
    .item
        display inline-block
        font-size 30px
        vertical-align middle

