doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(type="text/css", rel="stylesheet", href="./style/style.min.css")
        title iroo 拼貼畫板範例
    body
        header.header
        main.wrapper
            nav.tab-nav
                a.item(href="##") 畫板
                a.item(href="##") 元件庫
            canvas.canvas-wrapper#canvasWrap
        footer.footer
        script(type="text/javascript", src="./script/script.js")

