- var mediaPath = 'https://raw.githubusercontent.com/hanahina/mediaForCodepen/master/canvasCollages/';

doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(type="text/css", rel="stylesheet", href="./style/style.min.css")
        title iroo 拼貼畫板範例
    body
        header.header
        main.wrapper
            nav.tab-nav
                a.item(href="##") 畫板
                a.item(href="##") 元件庫
            .tab-group
                .tab-content
                    div.picture-frame
                        canvas.canvas-wrapper#canvasWrap(width="2000" height="2500")
                    ul.btn-group
                        li.item
                            a.link.btn#clearFocus(href="javascript:;") 取消選取
                        li.item
                            a.link.btn#imgDownload(href="javascript:;") 圖片下載
                        li.item
                            a.link.btn#clearBoard(href="javascript:;") 清除畫板
                        //- li.item
                        //-     a.link.btn#redoActive(href="javascript:;") 取消復原
                .tab-content
                    ul.element-group
                        - for(var i = 0; i < 10; i++)
                            if (i + 1 < 10)
                                - var imgName = '0' + (i + 1);
                            else
                                - var imgName = (i + 1);
                            li.item
                                a.link(href=mediaPath + "original/" + imgName + ".png")
                                    img(src=mediaPath + "thumbnail/" + imgName + ".png", alt="")

        footer.footer
        script(type="text/javascript", src="./script/script.dev.js")

