- var mediaPath = 'https://raw.githubusercontent.com/hanahina/mediaForCodepen/master/canvasCollages/';
- var icons = {'anti-clockwise': 'anti_clockwise.svg', 'clockwise': 'clockwise.svg', 'close': 'close.svg', 'close-circle': 'close_circle.svg', 'close-square': 'close_square.svg', 'copy': 'copy.svg', 'download': 'download.svg', 'eraser': 'eraser.svg', 'focus-clear': 'focus_clear.svg', 'focus-off': 'focus_off.svg', 'focus-on': 'focus_on.svg', 'go-back': 'go_back.svg', 'go-backward': 'go_backward.svg', 'go-forward': 'go_forward.svg', 'go-front': 'go_front.svg', 'maximum': 'maximum.svg', 'minimum': 'minimum.svg', 'mirror-horizontal': 'mirror_horizontal.svg', 'mirror-vertical': 'mirror_vertical.svg', 'pen': 'pen.svg', 'pencil': 'pencil.svg', 'pin': 'pin.svg', 'pin-add': 'pin_add.svg', 'pin-clear': 'pin_clear.svg', 'pin-del': 'pin_del.svg', 'redo': 'redo.svg', 'save': 'save.svg', 'save-as': 'save_as.svg', 'search': 'search.svg', 'select': 'select.svg', 'share': 'share.svg', 'trash': 'trash.svg', 'undo': 'undo.svg', 'upload': 'upload.svg', 'zoom-in': 'zoom_in.svg', 'zoom-out': 'zoom_out.svg'};

doctype html
html(lang="zh-Hant-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(type="text/css", rel="stylesheet", href="./style/style.min.css")
        title iroo 拼貼畫板範例
    body
        header.header
        main.wrapper.type-canvas
            .tab-group
                .tab-content
                    .switch-button
                        span.switch-circle
                    .picture-frame
                        canvas.canvas-wrapper#canvasWrap
                        .pin-editor#pinEditor
                    ul.btn-group.canvasEditor-group
                        li.item
                            a.link#clearFocus(href="javascript:;" title="取消選取")
                                i.icon.icon-close-square(aria-label="取消選取")
                        li.item
                            a.link#imgDownload(href="javascript:;" title="圖片下載")
                                i.icon.icon-download(aria-label="圖片下載")
                        li.item
                            a.link#deleteItem(href="javascript:;" title="刪除元件")
                                i.icon.icon-trash(aria-label="刪除元件")
                        li.item
                            a.link#clearBoard(href="javascript:;" title="清除畫板")
                                i.icon.icon-eraser(aria-label="清除畫板")
                        li.item
                            a.link#goForwardLayer(href="javascript:;" title="向上一層")
                                i.icon.icon-go-forward(aria-label="向上一層")
                        li.item
                            a.link#goBackwardLayer(href="javascript:;" title="向下一層")
                                i.icon.icon-go-backward(aria-label="向下一層")
                        li.item
                            a.link#goFrontLayer(href="javascript:;" title="移至最前")
                                i.icon.icon-go-front(aria-label="移至最前")
                        li.item
                            a.link#goBackLayer(href="javascript:;" title="移至最後")
                                i.icon.icon-go-back(aria-label="移至最後")
                        li.item
                            a.link#zoomIn(href="javascript:;" title="放大")
                                i.icon.icon-zoom-in(aria-label="放大")
                        li.item
                            a.link#zoomOut(href="javascript:;" title="縮小")
                                i.icon.icon-zoom-out(aria-label="縮小")
                        li.item
                            a.link#antiClockWise(href="javascript:;" title="逆時針旋轉")
                                i.icon.icon-anti-clockwise(aria-label="逆時針旋轉")
                        li.item
                            a.link#clockWise(href="javascript:;" title="順時針旋轉")
                                i.icon.icon-clockwise(aria-label="順時針旋轉")
                    ul.btn-group.pinEditor-group
                        li.item
                            a.link#clearPin(href="javascript:;" title="清空錨點")
                                i.icon.icon-focus-clear(aria-label="清空錨點")
                .tab-content
                    h2.element-title 插圖
                    ul.element-group
                        - for(var i = 0; i < 10; i++)
                            if (i + 1 < 10)
                                - var imgName = '0' + (i + 1);
                            else
                                - var imgName = (i + 1);
                            li.item
                                a.link(href="A" + (i + 1))
                                    img(src=mediaPath + "thumbnail/" + imgName + ".png", alt="")
                    h2.element-title 背景圖
                    ul.element-group
                        - for(var i = 0; i < 10; i++)
                            if (i + 1 < 10)
                                - var imgName = '0' + (i + 1);
                            else
                                - var imgName = (i + 1);
                            li.item
                                a.link(href="B" + (i + 1))
                                    img(src=mediaPath + "thumbnail/bg_" + imgName + ".jpg", alt="")
                    h2.element-title 商品圖
                    ul.element-group
                        - for(var i = 0; i < 7; i++)
                            if (i + 1 < 10)
                                - var imgName = '0' + (i + 1);
                            else
                                - var imgName = (i + 1);
                            li.item
                                a.link(href="C" + (i + 1))
                                    img(src=mediaPath + "thumbnail/prod_" + imgName + ".png", alt="")
                    h2.element-title 商品搜尋
                    form.search-form#searchProducts
                        input#searchById(name="searchById" type="text")
                        button#searchSubmit(type="submit") 查詢
        footer.footer
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' crossorigin='anonymous')
        script(type="text/javascript", src="./script/script.dev.js")

